
<mat-sidenav-container >
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="branco">
            <a mat-list-item>
               
                <i  class="material-icons branco">
                    home
                </i>
       
                    Produtos
         
            </a>
        </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content class="content">
    <app-home></app-home>
</mat-sidenav-content>
</mat-sidenav-container>